

.navbar{
	background-color: #674ea7;
	border-color:#674;
	color: white;
}

.navbar-inverse {
	font-family: georgia;
}
img {
	width: 100%;
	height: auto;
}

.btn{
	color: white;
	background-color: #674ea7;
	border-color: #674ea7;
	vertical-align: bottom;
	margin-top-width: 45;
}
.btn:hover {
	color: white;
	background-color:#b4a7d6;
	border-color: #674ea7;
}
.btn:active {
	color: white;
	background-color:#b4a7d6;
	border-color: #674ea7;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {

	background-color: #b4a7d6;
	color: black;
}
.submit{
	vertical-align: bottom;
}